<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分享</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "styles/base.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "styles/home.css" %}" type="text/css" />
</head>
<body>
<!--头部开始-->
<div id="header">
	<div class="header-wra  clearfix">
		<ul class="header-nav left">
			<li class="header-nav-item">
				<a class="header-nav-link" href="#" >新闻</a>
			</li>
			<li class="header-nav-item">
				<a class="header-nav-link" href="#" >提交</a>
			</li>
		</ul>
		<ul class="header-user-nav right">
			<li class="header-nav-item">
				<a class="header-nav-link" href="#" >注册</a>
			</li>
			<li class="header-nav-item">
				<a class="header-nav-link" href="#" >退出</a>
			</li>
		</ul>
	</div>
</div>
<!--头部结束-->
<!--主体开始-->
<div id="content">
	<div class="content-sub">
		<!--提交部分-->
		<form name="" method="post" action="">
		<table id="content-table">
			<tbody>
				<tr>
					<td class="table-first">题目</td>
					<td><input type="text" class="in-title" name="title" placeholder="请输入题目"></td>
				</tr>
				<tr class="focus-show display-none">
					<td class="table-first">链接URL</td>
					<td><input type="text" class="in-title" name="url" placeholder="请输入URL"></td>
				</tr>
				<tr class="focus-show display-none"><td></td>
                    <!-- <td><input type="submit" value="提交" class="submit"></td> -->
                    <td><button id='submit' class="submit">提交</button></td>
                </tr>
			</tbody>
		</table>
		</form>
		<!--提交部分end-->
		<!--单个内容-->
		<table class="cont-part">
			<tbody>
				<!--第一块-->
                {% for i in links %}
				<tr>
                    <td align="right" valign="top" class="part-number">{{ forloop.counter }}.</td>

					<td>
						<center>
							<a id="part-up" href="javascript:void(0)"><div class="votearrow" title="upvote"></div>
							</a>
							<span class="part-down"></span>
						</center></td>

					<td class="title">
                        <a href="{{ i.url }}" class="part-explain" target="_blank">{{ i.title }}</a>
                        <span class="part-comhead"> ({{ i.url }}) </span>
					</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td class="part-subtext">
						<span class="part-score">59 points</span> by <a href="#">jseliger</a>   | <a href="#">13 comments</a>
					</td>
				</tr>
				<tr style="height:20px"></tr>
                {% endfor %}

			</tbody>
	    </table>
	    <div id="part-url-show" class="display-none">

	    </div>
	</div>
</div>
<!--主体结束-->
</body>
<script src="{% static "scripts/jquery-1.10.2.min.js" %}" type="text/javascript"></script>
<script src="{% static "scripts/home.js" %}" type="text/javascript"></script>
<script>
    $('#submit').click(function(e) {
        e.preventDefault()        
        var title = $('input[name="title"]').val()
        var url = $('input[name="url"]').val()

        if (!title && !url) {
            alert('Can not be empty')
            return false
        } else {
            postData(title, url)    
        }
    })

    function postData(title, url) {
        $.post('newlink/', {'title': title, 'url': url}, function(data) {
            console.log(data)
            if (data.success) {
                alert('ok')
            } else {
                alert('error')         
                console.log(data.error)
            }
        }, 'json') 
    }
</script>
</html>
